@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default password reveal icon in Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none;
}

body {
  overflow-y: hidden;
}
html,
body {
  /* min-width: 1024px; */
  overflow-x: hidden;
}
/* Scoped to #pdfContentRef only */
/* #pdfContentRef ul {
  padding-left: 1em; 
  list-style-type: none;
}
#pdfContentRef li {
  position: relative;
  padding-left: 1em;
}
#pdfContentRef li::before {
  content: "• ";
  position: absolute;
  left: 0;
} */

/* Vertical scrollbar (overflow-y) */
::-webkit-scrollbar {
  width: 3px; /* Controls vertical scrollbar width */
  height: 3px; /* Controls horizontal scrollbar height */
}

/* Vertical scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #082d73;
  border-radius: 10px;
}

/* Horizontal scrollbar thumb */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #082d73;
  border-radius: 10px;
}

/* Hover effects */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #888;
}

.underline {
  text-decoration: underline !important;
}
